@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');




*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
}


body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%x;
    margin: auto;
}

.navbar input[type='checkbox'],
.navbar .hamburger-items {
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: .95;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 1.5rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.2rem;

}

.navbar a {
    text-decoration: none;
    color: #444;
    font-weight: 400;
    transition: color 0.3sec ease-in-out;
}

.navbar a:hover {
    color: #117964;
}

/* ///////////// showcase-area /////////// */


.showcase-area {
    background: url("./img/header-image.jpg");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;

}

.btn {
    text-decoration: none;

    padding: 7px 20px;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    font-weight: 400;
}

.btn-primary {
    color: #fff;
    background-color: #117964;
}

.title {
    text-transform: uppercase;
}



/* ///////////about/////////////// */


#about {
    padding: 50px;
    background: #f5f5f7;

}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.about-img {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 0.7s ease-in-out forwards;

}

@keyframes about-img-animation {
    100% {
        transform: translate(0);
    }
}

.about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: about-text-animation 0.7s ease-in-out forwards;
}

@keyframes about-text-animation {
    100% {
        transform: translate(0);
    }
}

#about .small {
    font-size: 1.5rem;
    color: #666;
    font-weight: 600;
}

#about p {
    font-size: 1.2rem;
    color: #555;

}

#about h2 {
    font-size: 2.3rem;
}

.about-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;
}

/* ############# food##############33 */

#food {
    padding: 70px;

}

#food h2 {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.food-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.food-container img {
    display: block;
    width: 100%;
    max-height: 300px;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.img-container {
    margin: 0 1rem;
    position: relative;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    text-align: center;

    transition: all 0.3s ease-in-out 0.1s;
}

.img-content h3 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
}

.img-content a {
    font-size: 1rem;

}

.img-container::after {
    display: block;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000a6;
    opacity: 0;
    z-index: 1;

    transform: scaleY(0);
    transform-origin: 100% 100%;
    transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
    opacity: 1;
    transform: scale(1);

}

.img-container:hover .img-content {
    opacity: 1;
    top: 40%;
}


/* ############## food-menu-styling##################### */


.food-menu-heading {
    text-align: center;
    color: #555;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}


.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
}

.food-menu-item {
    display: flex;
    justify-content: space-evenly;
    flex: 1 1 500px;
    margin-bottom: 2.5rem;

}

.food-menu-item img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-description {
    margin: auto 1.7rem;
}

.food-title {
    font-size: 1.7rem;
    font-weight: 400;
    color: #444;
}

.food-description p {
    font-size: .9rem;
    font-weight: 500;
    color: #555;
}

.food-description .food-price {
    color: #117964;
    font-weight: 500;
}


/* ######################testimonial############### */


#testimonials {
    background: #f1f1f1;
    padding: 3rem 0;
}

.testimonial-container {

    padding: .8rem;
    display: flex;
    justify-content: space-between;
}

.title-1 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: #555;
    margin-bottom: 27px;
}

.testimonial-container .checked {
    color: #ff9529;
}

.testimonial-item .testimonial-text {
    margin: 1rem 0;
    ;
}

.testimonial-item {
    text-align: center;
    padding: 1rem;
}

.testimonial-item img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: auto;
}

.testimonial-item figcaption {
    text-align: center;
    font-weight: 400;
}

/* #######################contact############### */

#contact-us {
    background: #d5d1d1;
    padding: 2rem;
}

.contact-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.contact-img {
    flex: 1 1 400px;

}

.contact-text {
    flex: 1 1 400px;
    padding: 20px;
    margin: auto;
    height: 400px;
    max-width: 100%;
    background: #fff;
}

.contact-img img {
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.contact-text h2 {
    font-weight: 400;
    font-size: 2rem;
    color: #444;
}


.form-group {
    padding-bottom: 10px;
}

.form-group input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #444;
    padding: 0.8rem 0;
    outline: none;
    box-shadow: none;
    margin-bottom: .5rem;
    color: #444;
    font-weight: 500;
}

.form-group textarea {
    display: block;
    width: 100%;
    height: 170px;
    border: none;
    border-bottom: 1.5px solid #444;
    color: #444;
    padding: 1rem 0;
    outline: none;

}

.contact-text a {
    font-size: 1rem;
}

.footer {
    background: #444;
    color: #aaa;
}

.footer p {
    text-align: center;
    font-weight: 500;
    padding: 25px;

}


/* #######################media queries#################333 */

@media (max-width:768px) {

    .navbar {
        opacity: .97
    }

    .navbar input[type='checkbox'],
    .navbar hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type='checkbox'] {
        position: absolute;
        display: block;
        height: 40px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;

    }

    .navbar-container .hamburger-lines {
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333333;

    }

    .navbar-container .hamburger-lines .line-1 {
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line-2 {
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line-3 {
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        margin-left: -40px;
        max-width: 300px;
        transition: transform .3s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 2rem;

    }

    .navbar-container input[type='checkbox']:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type='checkbox']:checked~.hamburger-lines .line-1 {
        transform: rotate(45deg);

    }

    .navbar-container input[type='checkbox']:checked~.hamburger-lines .line-2 {
        transform: scaleY(0);

    }

    .navbar-container input[type='checkbox']:checked~.hamburger-lines .line-3 {
        transform: rotate(-45deg);

    }

    /* ###############food ############## */

    .food-container{
        flex-direction: column;
        align-items: stretch;
    }

    .food-type:not(:last-child){
        margin-bottom: 30px;
    }

    .food-type{
        box-shadow: 5px 5px 10px 0px #aaa ;
    }

    .img-container{
        margin: 0;
    }





}

@media (max-width : 500px){
    html{
        font-size: 60%;
    }

    .food-menu-item{
        flex-direction: column;
        text-align: center;
    }

    food-menu-container img{
            margin: auto;
    }

    .testimonial-container{
        flex-direction: column;
        text-align: center;
    }
}


@media (orientation: landscape) and (max-height :500px){
    .showcase-area{
        height: 90vmax;
    }
}